[core]
  # autocrlf = false
  # safecrlf = true
  autocrlf = input
  safecrlf = true
  editor = emacs

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hg = log --graph --decorate=short --all --date=short --pretty=format:'%C(yellow)%h %C(green)%ad %C(cyan)%cN%C(auto)%d %C(reset)%s'
  type = cat-file -t
  dump = cat-file -p
  ls = ls-files
  unstage = reset HEAD
  # Show files ignored by git:
  ign = ls-files -o -i --exclude-standard

[push]
  default = simple
